.container {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.index {
  display: flex;
  width: 27%;
  padding: 14px 32px 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px 20px 0 0;
  background: #fff;
}

.contentContainer {
  background: #fff;
  padding: 20px;
  width: 100%;
}
