.container {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.index {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px 20px 0 0;
  background: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

.contentContainer {
  background: #fff;
  padding: 30px 0 100px 0;
  width: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 20px;
  padding: 0 24px;
}

.contentTitle {
  display: flex;
  width: 156px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.contentList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 14px;
  flex: none;
  height: auto;
}

.textEmphasize {
  color: rgba(255, 103, 1, 0.7);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
}

.textBold {
  color: rgba(28, 28, 28, 0.9);
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.32px;
  line-height: 1.4;
  word-break: keep-all;
}

.textItem {
  color: rgba(28, 28, 28, 0.5);
  font-size: 14px;
  font-weight: 500;
}

.textDescription {
  color: rgba(28, 28, 28, 0.9);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 1.5;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
