.container {
  background-color: #fff;
  min-height: 100vh;
  padding-bottom: 100px;
}

.roomCardList {
  margin-top: 16px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
