.bottomNav {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: var(--mobile-width);
  width: 100%;

  padding: 16px 40px 28px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

  z-index: 200;
  box-sizing: border-box;
}
