.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

/* 실제 스크롤 되는 영역 */
.contents {
  flex: 1;
  overflow-x: hidden;
  width: 100%;
}

.bottomNav {
  flex-shrink: 0;
}
