.container {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding-bottom: 4px;
  -webkit-overflow-scrolling: touch;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 4px 12px;
  gap: 6px;
  border-radius: 21px;
  background: #fff;
  white-space: nowrap;
  backdrop-filter: blur(2px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.profile > p {
  color: rgba(28, 28, 28, 0.8);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
