/*  button default setting */
a {
  text-decoration: none;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;

  color: rgba(28, 28, 28, 0.8);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.48px;

  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  user-select: none;
}

.button:active {
  transform: scale(0.95);
  opacity: 0.7;
}

/*  icon size def */
.gotoIcon {
  width: 24px;
  height: 24px;
  opacity: 0.4;
}

.gotoIconActive {
  opacity: 1;
}
.text {
  color: #b0b0b0;
}

.textActive {
  color: #222;
}
